.page__content { 
  background-color: #f6f3ea; 
  font-family: 'Roboto', sans-serif; }

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
  grid-gap: 50px; 
}

@media screen and (min-width: 900px) {
  .main-content {
    grid-template-rows: 1fr;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }
}
.main-content > article {
  justify-self: center;
}

.calculator {
  width: 90vw;
  height: 150vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: #4487a2;
  background: linear-gradient(190deg, #4487a2 0%, #515397 50%, #5c268d 100%);
  box-shadow: 0 0 30px -10px #505697; }

@media screen and (min-width: 768px) {
  .calculator {
    height: 600px;
    width: 450px;
  }
}
.display__row {
  padding: 5px 0;
  padding-right: 20px; }

.current { font-size: 40px; }

.display {
  overflow-x: hidden;
  box-sizing: border-box;
  grid-area: 1/2/1/5;
  cursor: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  text-align: right;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 0;
  background-color: transparent;
  color: white; }

.display:before { display: none; }

.history { color: #aab9d8; }

.history_last {
  font-size: 9px;
  color: #97a5c3; }

.btn {
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0;
  background-color: transparent;
  color: white;
  position: relative;
  font-size: 20px; }

.btn:hover:before {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  transform: scale(1);
  transition: all .3s ease; }

.btn:before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  transform: scale(1.2);
  transition: all 1s ease;
  background-color: rgba(255, 255, 255, 0); }

.btn_special { background-color: rgba(255, 255, 255, 0.4); }

.about{
  padding: 60px;
}

@media screen and (min-width: 900px) {
  .about {
    padding: 30px;
  }
}


.logo{
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translate(-50%);
     -moz-transform: translate(-50%);
      -ms-transform: translate(-50%);
       -o-transform: translate(-50%);
          transform: translate(-50%);
}