
.page__content{
	padding: 0;
	margin: 0;
	font-size: 18px;
}
.h1{

}
.h2{

}
.h3{
	font-size: 22px;
	font-weight: 600;
}
p{
	font-size: 16px;
}
.header{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr min-content min-content;
	background-color: #f6f3ea;
	width: 100%;
	height: 100vh;
}
.logo{
	grid-area: 2 / 3 / 2 / -3;
    justify-self: center;
	animation: glitch 32s 170s infinite, glitch-2 73s 142s infinite;
}
.page-title{
	grid-area: 3 / 2 / 3 / -2;
    justify-self: center;
}










/*section*/



.section{
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	grid-gap: 70px;
	padding: 100px 100px;

}
.section:nth-of-type(odd){
	background-color: #f0efeb;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}



/*cards*/


.card__preview picture img{
	width: 100%;
	height: 100%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}



.card__title{
	text-align: center;
	color: #2e2f2b;
}
.card__title:hover{
	color: #575a4e;

}
.card__desc{
	text-align: center;

}


/*mouse*/


.mouse {
	grid-area: 4 / 2 / 4 / -2;
	justify-self: center; 
	background: #2e2f2b linear-gradient(transparent 0%, transparent 50%, #2e2f2b 50%, #2e2f2b 100%);
	position: relative;
	width: 52px;
	height: 88px;
	border-radius: 100px;
	background-size: 100% 200%;
	animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before, .mouse:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
 .mouse:before {
	width: 46px;
	height: 82px;
	background-color: #f6f3ea;
	border-radius: 100px;
}
 .mouse:after {
	background-color: #2e2f2b;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	animation: trackBallSlide 5s linear infinite;
}
.scroll-text{
	grid-area: 5 / 2 / 5 / -2;
	justify-self: center; 
	letter-spacing: 12px;
	text-indent: 12px;
	color: #fff;
	animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;
}




















































 @keyframes colorSlide {
	 0% {
		 background-position: 0% 100%;
	}
	 20% {
		 background-position: 0% 0%;
	}
	 21% {
		 background-color: #4e5559;
	}
	 29.99% {
		 background-color: #f6f3ea;
		 background-position: 0% 0%;
	}
	 30% {
		 background-color: #4e5559;
		 background-position: 0% 100%;
	}
	 50% {
		 background-position: 0% 0%;
	}
	 51% {
		 background-color: #4e5559;
	}
	 59% {
		 background-color: #f6f3ea;
		 background-position: 0% 0%;
	}
	 60% {
		 background-color: #4e5559;
		 background-position: 0% 100%;
	}
	 80% {
		 background-position: 0% 0%;
	}
	 81% {
		 background-color: #4e5559;
	}
	 90%, 100% {
		 background-color: #2e2f2b;
	}
}
 @keyframes trackBallSlide {
	 0% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 6% {
		 opacity: 1;
		 transform: scale(0.9) translateY(5px);
	}
	 14% {
		 opacity: 0;
		 transform: scale(0.4) translateY(40px);
	}
	 15%, 19% {
		 opacity: 0;
		 transform: scale(0.4) translateY(-20px);
	}
	 28%, 29.99% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 30% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 36% {
		 opacity: 1;
		 transform: scale(0.9) translateY(5px);
	}
	 44% {
		 opacity: 0;
		 transform: scale(0.4) translateY(40px);
	}
	 45%, 49% {
		 opacity: 0;
		 transform: scale(0.4) translateY(-20px);
	}
	 58%, 59.99% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 60% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
	 66% {
		 opacity: 1;
		 transform: scale(0.9) translateY(5px);
	}
	 74% {
		 opacity: 0;
		 transform: scale(0.4) translateY(40px);
	}
	 75%, 79% {
		 opacity: 0;
		 transform: scale(0.4) translateY(-20px);
	}
	 88%, 100% {
		 opacity: 1;
		 transform: scale(1) translateY(-20px);
	}
}
 @keyframes nudgeMouse {
	 0% {
		 transform: translateY(0);
	}
	 20% {
		 transform: translateY(8px);
	}
	 30% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(8px);
	}
	 60% {
		 transform: translateY(0);
	}
	 80% {
		 transform: translateY(8px);
	}
	 90% {
		 transform: translateY(0);
	}
}
 @keyframes nudgeText {
	 0% {
		 transform: translateY(0);
	}
	 20% {
		 transform: translateY(2px);
	}
	 30% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(2px);
	}
	 60% {
		 transform: translateY(0);
	}
	 80% {
		 transform: translateY(2px);
	}
	 90% {
		 transform: translateY(0);
	}
}
 @keyframes colorText {
	 21% {
		 color: #4e5559;
	}
	 30% {
		 color: #f6f3ea;
	}
	 51% {
		 color: #4e5559;
	}
	 60% {
		 color: #f6f3ea;
	}
	 81% {
		 color: #4e5559;
	}
	 90% {
		 color: #f6f3ea;
	}
}
 
 


















 @keyframes glitch {
	 1% {
		 transform: rotateX(10deg) skewX(90deg);
	}
	 2% {
		 transform: rotateX(0deg) skewX(0deg);
	}
}

 @keyframes glitch-2 {
	 1% {
		 transform: rotateX(10deg) skewX(70deg);
	}
	 2% {
		 transform: rotateX(0deg) skewX(0deg);
	}
}
