.burger{
    padding: 20px 0!important;
    width: 50px;
    cursor: pointer;
    border: 0!important;

    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}
.burger__item{
    width: 30px;
    height: 3px;
    background-color: #FFC61A;
    position: absolute;
    transform: translate(10px);
    transition: all .2s;
}

.burger__item:before{
    content: '';
    width: 30px;
    height: 3px;
    background-color: #FFC61A;
    position: absolute;
    top: -10px;
    transition: all .3s;
}
.burger__item:after{
    content: '';
    width: 30px;
    height: 3px;
    background-color: #FFC61A;
    position: absolute;
    top: 10px;
    transition: all .3s;
}

@media screen and (min-width: 998px){
    .burger{
        display: none;
    }
}

.burger_active .burger__item{
    height: 0;
    transition: all .1s;
}

.burger_active .burger__item:before{
    transform: rotate(45deg);
    opacity: 1;
    top: 0;
    transition: all .3s;
}
.burger_active .burger__item:after{
    transform: rotate(-45deg);
    opacity: 1;
    top: 0;
    transition: all.3s;
}